#IntelliJ IDEA Project Files
*.iml
.idea

*.out
*.class
target/



# Package Files #
*.jar
*.war
*.ear

#shell scripts
*.sh
# debug output
*.txt
*.log

# mac storage metadata
.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.DC_Store
